<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="escandallo3._0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <escandallo3._0.Properties.Settings>
            <setting name="MonedaPredeterminada" serializeAs="String">
                <value></value>  <!-- CAMBIADO: Valor vacío para detección automática -->
            </setting>
        </escandallo3._0.Properties.Settings>
    </userSettings>
</configuration>